<blockquote id="patreon-beg">
  <h3>Support my work!</h3>
  <p>
    I do a lot of things: I write, draw, code, hack, pentest, stream, and also drink a lot of coffee. I would love to keep doing what I love to do, but these things take time in energy. That's where you come in. By supporting what I do, I have less to worry about so I can go back to doing what I love 💖
    <br><br>
    <a class="button" href="https://ko-fi.com/yourid" target="_blank" rel="noreferrer" style="color:currentColor"><img role="presentation" src="https://ko-fi.com/favicon.png" height="16" width="16" /> <strong>Buy me a Taco!</strong></a>
    <a class="button" onclick="hide_patreon()">Remind me later <noscript>(JS required)</noscript></a>
  </p>
</blockquote>
